<h1><%= @contact["last"].capitalize %>, <%= @first.capitalize %></h1>
<h1></h1>
<p>Age :<%= @contact["age"] %></p>
<p>Gender :<%= @contact["gender"].capitalize %></p>
<p>Down to get down? <%= @contact["dtgd"].capitalize %></p>
<p>Phone #<%= @contact["phone"] %></p>
